<mtapp:setting id="suggested_tags" label="Entry File Drop Plugin"
    hint="<__trans phrase="Enter the tags to be suggested">" show_hint=1>
    <input type="text" name="suggested_tags" id="suggested_tags"
        value="<mt:Var name="suggested_tags">" />
</mtapp:setting>